@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pathshala College</h1>
    <p class="lead">"Your way to success!"</p>
    <p>Portal for college staff for keeping records.</p>
</div>

